<div id="{{_id}}" class="card col-span-1">
  <a href="/habits/{{_id}}" class="w-fit">
    <h3 class="text-primary w-max hover:text-primary/80 transition-all duration-300">{{name}}</h3>
  </a>
  <p class="text-sm">{{description}}</p>

  <div class="my-10 grid grid-cols-3">
    <div class="col-span-1 justify-items-center">
      <p class="font-medium text-sm">Frequency</p>
      <p class="font-extrabold text-2xl">{{frequency}}</p>
    </div>

    <div class="col-span-1 justify-items-center">
      <p class="font-medium text-sm">Streak</p>
      <p class="font-extrabold text-2xl"><span data-streak>{{streak}}</span>🔥</p>
    </div>

    <div class="col-span-1 justify-items-center">
      <p class="font-medium text-sm">Completions</p>
      <p class="font-extrabold text-2xl"><span data-completions>{{totalCompletions}}</span>✅</p>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row items-start lg:items-center gap-4 justify-between mt-4">
    <div class="flex items-center gap-2">
      <button onclick="markHabitComplete('{{_id}}')" data-complete-button {{#unless canComplete}}disabled{{/unless}}>
        {{#if canComplete}}
        Complete
        {{else}}
        Complete again {{frequency}}
        {{/if}}
      </button>

      <a href="/habits/{{_id}}/edit" class="button button-secondary">
        Edit
      </a>
    </div>

    <a href="/habits/{{_id}}/stats" class="text-sm text-muted-foreground hover:text-primary transition-colors">
      View Stats ->
    </a>
  </div>

  <p class="text-sm text-muted-foreground mt-4">
    {{#if this.fromNow}}
    Completed {{this.fromNow}}
    {{else}}
    Created {{formatDate createdAt}}
    {{/if}}
  </p>
</div>