<div class="mb-6">
  <a href="/habits/{{habit._id}}" class="text-primary hover:text-primary/80"><- Back to habit</a>
      <div class="mt-4">
        <h1>{{habit.name}} Stats</h1>
        <p class="text-muted-foreground">Detailed stats on how you've been completing this habit</p>
      </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">
  <div class="bg-card p-4 rounded-lg border border-secondary">
    <h3 class="text-sm font-medium text-muted-foreground">Current Streak</h3>
    <p class="text-2xl font-bold">{{stats.currentStreak}}🔥</p>
  </div>

  <div class="bg-card p-4 rounded-lg border border-secondary">
    <h3 class="text-sm font-medium text-muted-foreground">
      <a href="/habits/{{habit._id}}/streaks" class="card-link inline-flex items-center justify-center gap-1">
        Longest Streak
        <i data-lucide="chevron-right" class="size-4"></i>
      </a>
    </h3>
    <p class="text-2xl font-bold">{{stats.longestStreak}}🏆</p>
  </div>


  <div class="bg-card p-4 rounded-lg border border-secondary">
    <h3 class="text-sm font-medium text-muted-foreground">
      <a href="#progress-overview" class="card-link inline-flex items-center justify-center gap-1">
        Completion Rate
        <i data-lucide="chevron-right" class="size-4"></i>
      </a>
    </h3>
    <p class="text-2xl font-bold">{{stats.completionRate}}%</p>
  </div>

  <div class="bg-card p-4 rounded-lg border border-secondary">
    <h3 class="text-sm font-medium text-muted-foreground">
      <a href="/habits/{{habit._id}}/completions" class="card-link inline-flex items-center justify-center gap-1">
        Total Completions
        <i data-lucide="chevron-right" class="size-4"></i>
      </a>
    </h3>
    <p class="text-2xl font-bold">{{stats.totalCompletions}}✅</p>
  </div>
</div>

<div id="progress-overview" class="mb-8">
  <h2 class="text-xl font-semibold">Progress Overview</h2>
  <p class="text-sm text-muted-foreground mb-4">Based on how often you&apos;ve completed the habit</p>
  <div class="card">
    <div class="space-y-4">
      <div>
        <p class="text-sm text-muted-foreground">Days since creation</p>
        <p class="font-medium">{{stats.daysSinceCreation}} days</p>
      </div>
      <div>
        <p class="text-sm text-muted-foreground">Expected completions ({{habit.frequency}})</p>
        <p class="font-medium">{{stats.expectedCompletions}}</p>
      </div>
      <div>
        <p class="text-sm text-muted-foreground">Actual completions</p>
        <p class="font-medium">{{stats.totalCompletions}}</p>
      </div>
      <div class="pt-4 border-t border-border">
        <p class="text-sm text-muted-foreground">Completion rate</p>
        <div class="my-4 lg:my-8 relative w-full max-w-3xl lg:max-w-md mx-auto">
          <canvas id="completionPieChart" data-completions="{{stats.totalCompletions}}"
            data-expected="{{stats.expectedCompletions}}">
          </canvas>
        </div>

        <div class="mt-2 relative pt-1">
          <div class="overflow-hidden h-2 text-xs flex rounded bg-muted">
            <div style="width: {{stats.completionRate}}%"
              class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-primary">
            </div>
          </div>
          <p class="mt-1 text-sm font-medium">{{stats.completionRate}}%</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="text-xl font-semibold">Recent Activity</h2>
  <p class="text-sm text-muted-foreground mb-4">Last 30 days</p>
  {{#if stats.recentCompletions.length}}
  <div class="card overflow-hidden">
    <div class="space-y-4">
      {{#each stats.recentCompletions}}
      <div class="flex items-center justify-between">
        <div>
          <p class="font-medium">Completed</p>
          <p class="text-sm text-muted-foreground">{{this.time}}</p>
        </div>
        <p class="text-sm text-muted-foreground">{{fromNow this.date}}</p>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div class="bg-muted rounded-lg p-8 text-center">
    <p class="text-sm text-muted-foreground">No recent activity</p>
  </div>
  {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/public/js/completionPieChart.js"></script>