<div class="mb-6">
  <a href="/habits/{{habit._id}}/stats" class="text-primary hover:text-primary/80"><- Back to stats</a>
      <div class="mt-4">
        <h1>{{habit.name}} Streaks</h1>
        <p class="text-muted-foreground">See your streaks and how you've been keeping up with your habit</p>
      </div>
</div>

<div class="mb-6">
  <h2 class="mb-2">All Streaks</h2>
  {{#if allStreaks.length}}
  <div class="card overflow-hidden">
    <div class="space-y-8">
      {{#each allStreaks}}
      <div class="space-y-4">
        <div class="flex items-end justify-between">
          <div>
            <p class="text-sm text-muted-foreground">{{formatDate this.startDate}} - {{#if
              this.isActive}}Present{{else}}{{formatDate
              this.endDate}}{{/if}}</p>
            <p class="text-2xl font-bold">{{this.duration}}🔥</p>
            {{!-- {{#if (eq this.duration longestStreak.duration)}} --}}
            <p class="text-sm text-muted-foreground">{{longestStreak.duration}}</p>
            {{!-- {{/if}} --}}
          </div>
          {{#if this.isActive}}
          <p class="text-sm font-bold text-primary mb-1 animate-pulse">Current streak</p>
          {{else}}
          <p class="text-sm font-bold text-muted-foreground mb-1">Ended {{fromNow this.endDate}}</p>
          {{/if}}
        </div>
        <div
          class="rounded-lg overflow-hidden {{#if this.isActive}}bg-primary/10 border border-primary/10{{else}}border border-secondary{{/if}}">
          <div class="p-4">
            <div class="space-y-4">
              {{#each this.completions}}
              <div class="flex items-center justify-between">
                <div>
                  <p class="font-medium">Completed</p>
                  <p class="text-sm text-muted-foreground">{{formatDate this.date}} at {{this.time}}</p>
                </div>
                <p class="text-sm text-muted-foreground">{{fromNow this.date}}</p>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div class="bg-muted rounded-lg p-8 text-center">
    <p class="text-sm text-muted-foreground">No streaks yet</p>
  </div>
  {{/if}}
</div>